@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffef8f;
  
}

main section {
  display:none;
  padding-top: 110px;
 
}
:target {
  display: block;
  
}

body {
   padding-top: 110px;
}

#wrapper {
  min-height:100%;
  position: relative;
  padding-bottom: 60px;
  
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:black;
}

/*menüü riba värv*/
.bg-logo {
  background-color: black;
}

.page-slicer hr {
  border-top: 14px solid black;
  padding-bottom: 30px;
  width: 100%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.googleCalendar{
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 40%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*Tantsumeka*/
.welcome h1 {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}

.moto {
  font-size: 2.75rem;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500i;
  color: black;
}

.about-1 p {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
}

.about-1 h3 {
  font-size: 2.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}

.about-1 pre {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400i;
  color: black;
}

/*Treenerid*/
.card .card-body {
  border-radius: 4px;
}



/*Treeneri nupp*/
.card .card-body .btn {
	font-size: 1.2rem;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 400i;
  	color: black;
  	border: 0px solid transparent;
  	text-align: center;
  	padding-top: 30px; 
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.card {
  background-color: #fff4b3; 
  border: 0px solid black;
  border-radius: 10px;
}

.card-text {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
}

/*Tantsututvustused*/
#tantsud h2 {
  font-size: 3.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}

/*tantsustiilide kastid*/
.tabl a{
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}

.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em !important;
  font-weight: 600;
  color: black;
}

/*tantsustiilide kirjeldus*/
.tab-pane #tabp{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
}


.card-body {
  background-color: #fff4b3;
  border: 0px solid black;
}

/*Pood*/
.shop-btn .btn-primary1{
  background-color: #fff4b3;
  border: 0px solid black;
  border-radius: 0px;
}

.btn-primary1:focus,.btn-primary1:active {
   outline: none !important;
   box-shadow: none;
}

#shop-menu {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: black;
  border-radius: 4px;
}


.nav-tabs .nav-link.active {
  background-color:black;
  color:#ffef8f;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 4px;
}

.nav-tabs {
  border-bottom: 0px solid black;
}

.logo {
  padding:0px;
  height:80px;
  width:133px;
  margin:0px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.navbar-toggler{
  padding:.25rem .75rem;
  font-size:1rem;
  line-height:1.4;
  background-color:#ffef8f;
  border-radius:.25rem;
}

.dropdown {
  padding: 0rem 0rem;
  font-size:1rem;
  line-height:1.4;
  background-color:black;
  border-radius:.25rem;
}

.navbar-nav > li > .dropdown-menu {     background-color: black;  }
.navbar-nav > li > .dropdown-menu a{   color: #ffef8f;  }
.navbar-nav:hover > li > .dropdown-menu:hover a{   color: #ffef8f;  background-color: black;}

.dropdown-menu a{
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar {
  padding: 1rem;
}

.navbar-nal {
  padding-right: 20px;
}

.video-header video{
  width: 100%;
  height: 100%
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 4px solid black;
  width: 40%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #0057CC;
}

.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.social {
  font-size: 2em;
  padding: 1rem;
}

.social-info {
  font-size: 1.2em;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

footer {
  background-color: black;
  color: #d5d5d5;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.footer-box {
  padding-top: 1.5rem;
  color: #ffef8f;
}


hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .nav-link{
  font-size: 1em !important;
  font-weight: 600;
}
  .dropdown-menu a{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
}
/*---Media Queries --*/
@media (max-width: 992px) {
  .social {
    font-size: 1.8em;
    padding: 0.9rem;
  }

  .social-info {
    font-size: 1.0em;
  }
  .dropdown-menu a{
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  }
@media (max-width: 768px) {

.display-4 {
  font-size: 200%;
}

.social {
    font-size: 1.8em;
    padding: 0.9rem;
  }

.social-info {
    font-size: 1.0em;
}
.dropdown-menu a{
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
}
@media (max-width: 576px) {
.display-4 {
  font-size: 100%;
}

.social {
  font-size: 1.6em;
  padding: .8rem;
}
.social-info {
    font-size: 0.8em;
}
.welcome h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}
.moto {
  font-size: 1.57rem;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500i;
  color: black;
}
#tantsud h2 {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}
.about-1 p {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
}

.about-1 h3 {
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}
.about-1 pre {
  font-size: 0.77rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400i;
  color: black;
}
.tabl a{
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
}
.tab-pane #tabp{
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
}
.video-header{
  display: none;
}
.welcome hr {
  border-top: 4px solid black;
  width: 90%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"]:not(.tants1) {
    padding: 1rem;
}

[class*="tants1"] {
    padding: 0rem;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
